<header class="text-gray-700">
    <div class="px-[10%] flex justify-between py-4 items-center">
    <a href="/" class="font-black text-red-600 text-3xl tracking-tight">SPARQ</a>

    <nav>
        <ul class="flex gap-8 tracking-wider">
            <li><a href="/">Home</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>
    </div>
</header>